.max-width{
    max-width: 1100px;
    margin: 0px auto;
}

.absolute-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection-title{
    font-size:30px;
    margin-bottom: 10px;
    font-weight: 500;
    }

.slick-next:before,
.slick-prev:before{
    color: red;
}